@import "../variables";
@import "../mixins";


/*-----------------
    Slider Styles
-----------------*/



.contentbox {
  border: 20px solid rgba(0, 0, 0, 0.24);
  margin: auto;
  max-width: 576px;
  padding: 115px 20px;
}

.slider__inner{
    h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: 700;
        line-height: 65px;
        margin: 0;
        text-transform: uppercase;
    }
    h1 {
        color: #ffffff;
        display: inline-block;
        font-size: 60px;
        letter-spacing: 6px;
        line-height: 68px;
        padding-bottom: 22px;
        position: relative;
        text-transform: uppercase;
        &::after {
            background: #fff none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 1px;
            left: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
            width: 230px;
        }
    }
    p {
        color: #fff;
        font-size: 18px;
        line-height: 30px;
        margin: 5px auto 28px;
        max-width: 418px;
    }
    a {
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        span {
            color: #e84570;
            padding-left: 11px;
        }
    }
}

 

















/* Black Version*/

.black__version .contentbox {
  border: 0 none;
  margin: auto;
  max-width: 576px;
  padding: 115px 20px;
  position: relative;
  z-index: 2;
}
.slider__area{
    .shape--1 {
        left: 180px;
        top: 136px;
    }
    .shape--2 {
        bottom: 270px;
        left: 180px;
    }
    .shape--3 {
        left: 390px;
    }
    .shape--4 {
        left: 620px;
        top: 75px;
        z-index: 3;
    }
    .shape--5 {
        bottom: 323px;
        left: 657px;
        z-index: 1;
    }
    .shape--6 {
        bottom: 216px;
        right: 629px;
    }
    .shape--7 {
        right: 320px;
        top: 50px;
    }
    .shape--8 {
        bottom: 322px;
        right: 196px;
    }
    .shape--9 {
      left: 50%;
      top: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      z-index: -1;
    }
}


.slider__area.black__version{
    z-index: 3;
}

.slider__bottom {
    bottom: 50px;
    position: absolute;
    right: 50px;
}
.slider__bottom .down span {
    color: #ffffff;
    display: block;
    font-size: 14px;
}
.slide-down-btn a span {
    background: #fe4274 none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 50px;
    line-height: 45px;
    margin-top: 18px;
    width: 40px;
}
.scroll {
    bottom: -15px;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    left: -100px;
    letter-spacing: 7px;
    position: absolute;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}




/* Responsive Css*/


@media #{$xlg-layout}{
    


}


@media #{$lg-layout}{
    





}
@media #{$md-layout}{
    










}

@media #{$sm-layout}{
    

    .black__version .contentbox {
      padding: 0;
    }

    .slider__area .shape--9 {
      display: none;
    }


}

@media #{$xs-layout}{
    

    .slider__area.fullscreen {
      min-height: auto;
      width: 100%;
      padding: 100px 0;
    }

    .slider__inner h1 {
      font-size: 41px;
      line-height: 44px;
      padding-bottom: 17px;
    }

    .contentbox {
      border: 10px solid rgba(0, 0, 0, 0.24);
      margin: auto;
      padding: 17px 20px;
    }

    .slider__inner h1 {
      font-size: 31px;
    }




}















